@use "../abstracts/variables";

body {
  font-family: AvenirNext-Regular;
  color: variables.$color-text-dark;
}

.heading {
  font-family: AvenirNext-Bold;
  &.font-demi-bold {
    font-family: AvenirNext-DemiBold;
  }
  &.font-medium {
    font-family: AvenirNext-Medium;
  }
}

// text color
.text-orange {
  color: variables.$color-orange;
}

.text-yellow {
  color: variables.$color-yellow;
}

.text-dark {
  color: variables.$color-text-dark;
}
