@use "../abstracts/variables";

body {
  font-family: AvenirNext-Regular;
  color: variables.$color-text-dark;
}

.heading {
  font-family: AvenirNext-Regular;
  font-family: AvenirNext-Bold;
  &.font-demi-bold {
    font-family: AvenirNext-DemiBold;
  }
}
