@font-face {
  font-family: AvenirNext-UltraLight;
  src: url(../fonts/avenir-next-ultralight.ttf);
}
@font-face {
  font-family: AvenirNext-Regular;
  src: url(../fonts/avenir-next-regular.ttf);
}
@font-face {
  font-family: AvenirNext-Medium;
  src: url(../fonts/avenir-next-medium.ttf);
}
@font-face {
  font-family: AvenirNext-DemiBold;
  src: url(../fonts/avenir-next-demibold.ttf);
}
@font-face {
  font-family: AvenirNext-Bold;
  src: url(../fonts/avenir-next-bold.ttf);
}
@font-face {
  font-family: times-new-roman;
  src: url(../../fonts/times-new-roman.ttf);
}
