.footer {
    background-color: #213343;
    transition: all 0.3s ease;
    color: #fff;
    font-family: sans-serif;

    .social-link {
        position: relative;

        &::before {
            content: '';
            width: 30%;
            height: 0.5px;
            box-sizing: border-box;
            box-shadow: none;
            background-color: #7691ad;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

            @media (min-width: 992px) {
                width: 35%;
            }
            @media (max-width: 575px) {
                width: 0%;
            }
        }

        &::after {
            content: '';
            width: 30%;
            height: 0.5px;
            box-sizing: border-box;
            box-shadow: none;
            background-color: #7691ad;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);

            @media (min-width: 992px) {
                width: 35%;
            }
            @media (max-width: 575px) {
                width: 0%;
            }
        }
        li {
            a {
                color: #b6c7d6;
                font-size: 1.5rem;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    .copyright-text {
        font-size: 12px;
        color: #b6c7d6;
    }

    .footer-link {
        li {
            position: relative;
            .nav-link {
                font-size: 0.875rem;
                font-weight: 600;
                color: #fff;
                text-decoration: underline;
                padding: 0.5rem 1rem;

                &:hover {
                    text-decoration: none;
                    color: #b6c7d6;
                }
            }

            &::after {
                display: inline-block;
                font-size: 0.75em;
                color: #7691ad;
                position: absolute;
                content: '|';
                top: 50%;
                right: -0.25em;
                transform: translateY(-50%);
            }

            &:last-child::after {
                display: none;
            }
        }
    }
}