/*=== abstracts css start === */
@font-face {
  font-family: AvenirNext-UltraLight;
  src: url(../fonts/avenir-next-ultralight.ttf);
}
@font-face {
  font-family: AvenirNext-Regular;
  src: url(../fonts/avenir-next-regular.ttf);
}
@font-face {
  font-family: AvenirNext-Medium;
  src: url(../fonts/avenir-next-medium.ttf);
}
@font-face {
  font-family: AvenirNext-DemiBold;
  src: url(../fonts/avenir-next-demibold.ttf);
}
@font-face {
  font-family: AvenirNext-Bold;
  src: url(../fonts/avenir-next-bold.ttf);
}
@font-face {
  font-family: times-new-roman;
  src: url(../../fonts/times-new-roman.ttf);
}
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p,
address,
strong,
i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1040px;
  }
}
body {
  font-family: AvenirNext-Regular;
  color: #333;
}

.heading {
  font-family: AvenirNext-Bold;
}
.heading.font-demi-bold {
  font-family: AvenirNext-DemiBold;
}
.heading.font-medium {
  font-family: AvenirNext-Medium;
}

.text-orange {
  color: #f3780b;
}

.text-yellow {
  color: #f3a90b;
}

.text-dark {
  color: #333 !important;
}

.bg-orange {
  background-color: #f3780b;
}

.bg-yellow {
  background-color: #f3a90b;
}

/*===// end of base css === */
/*=== components css start === */
.btn-orange, .btn-white, .btn-yellow {
  font-family: AvenirNext-Medium;
  color: #fff;
  font-size: 18px;
  background-color: #f3780b;
  border-radius: 50px;
}
@media (max-width: 767px) {
  .btn-orange, .btn-white, .btn-yellow {
    font-size: 16px;
  }
}
.btn-orange:hover, .btn-white:hover, .btn-yellow:hover {
  background-color: #db6c0a;
  color: #fff;
}

.btn-yellow {
  background-color: #f3a90b;
}
.btn-yellow:hover {
  background-color: #db980a;
  color: #fff;
}

.btn-white {
  color: #f3780b;
  background-color: #fff;
  transition: all 0.2s linear;
}
.btn-white:hover {
  background-color: #fff;
  color: #f3780b;
  opacity: 0.8;
}

.legal-popup {
  font-family: times-new-roman;
}
.legal-popup .table td, .legal-popup .table th,
.legal-popup li,
.legal-popup p {
  font-size: 18px;
}
.legal-popup ul li {
  list-style: disc;
}
.legal-popup .list-numbered li {
  list-style: decimal;
}

/*===// end of components css === */
/*=== layout css start === */
.footer {
  background-color: #213343;
  transition: all 0.3s ease;
  color: #fff;
  font-family: sans-serif;
}
.footer .social-link {
  position: relative;
}
.footer .social-link::before {
  content: "";
  width: 30%;
  height: 0.5px;
  box-sizing: border-box;
  box-shadow: none;
  background-color: #7691ad;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
@media (min-width: 992px) {
  .footer .social-link::before {
    width: 35%;
  }
}
@media (max-width: 575px) {
  .footer .social-link::before {
    width: 0%;
  }
}
.footer .social-link::after {
  content: "";
  width: 30%;
  height: 0.5px;
  box-sizing: border-box;
  box-shadow: none;
  background-color: #7691ad;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
@media (min-width: 992px) {
  .footer .social-link::after {
    width: 35%;
  }
}
@media (max-width: 575px) {
  .footer .social-link::after {
    width: 0%;
  }
}
.footer .social-link li a {
  color: #b6c7d6;
  font-size: 1.5rem;
}
.footer .social-link li a:hover {
  color: #fff;
}
.footer .copyright-text {
  font-size: 12px;
  color: #b6c7d6;
}
.footer .footer-link li {
  position: relative;
}
.footer .footer-link li .nav-link {
  font-size: 0.875rem;
  font-weight: 600;
  color: #fff;
  text-decoration: underline;
  padding: 0.5rem 1rem;
}
.footer .footer-link li .nav-link:hover {
  text-decoration: none;
  color: #b6c7d6;
}
.footer .footer-link li::after {
  display: inline-block;
  font-size: 0.75em;
  color: #7691ad;
  position: absolute;
  content: "|";
  top: 50%;
  right: -0.25em;
  transform: translateY(-50%);
}
.footer .footer-link li:last-child::after {
  display: none;
}

/*===// end of layout css === */
/*=== pages start === */
.hero {
  background: url(../images/hero-bg.png) no-repeat center center/cover;
  position: relative;
  color: #fff;
  padding: 60px 15px;
}
@media (max-width: 575px) {
  .hero {
    padding-top: 30px;
  }
}
.hero .brand-logo {
  margin-bottom: 120px;
}
@media (max-width: 575px) {
  .hero .brand-logo .logo-img {
    max-width: 180px;
  }
}
.hero .heading {
  white-space: pre-line;
}
.hero .sub-heading strong {
  font-family: AvenirNext-Bold;
}

.special-offer .price-card .title {
  font-family: AvenirNext-Medium;
  text-transform: uppercase;
}
.special-offer .price-card .sub-title {
  font-size: 19px;
}
@media (max-width: 767px) {
  .special-offer .price-card .sub-title {
    font-size: 14px;
  }
}
.special-offer .price-card .price {
  font-family: AvenirNext-Bold;
  font-size: 48px;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .special-offer .price-card .price {
    font-size: 28px;
  }
}
.special-offer .price-card .price span {
  font-family: AvenirNext-Regular;
  font-size: 20px;
}
@media (max-width: 767px) {
  .special-offer .price-card .price span {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .money-back-guarantee .guarantee-heading {
    font-size: 50px;
  }
}

.weight-loss-program-works {
  background: url(../images/weight-loss-program-works-bg.png) no-repeat center center/cover;
  position: relative;
  color: #fff;
  padding: 40px 0px;
  z-index: 0;
}
.weight-loss-program-works::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(243, 120, 11, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.weight-loss-program-works .lead {
  font-size: 19px;
}

.no-pain-wWeight-loss-program .lead {
  font-size: 19px;
}
.no-pain-wWeight-loss-program .program-card p {
  font-size: 14px;
  line-height: 1.2;
}

/*===// end of pages  === *//*# sourceMappingURL=style.css.map */